body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    background-color: rgb(44, 43, 43);
    color: white;
    font-size: 1rem;
}

button {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    font-size: 1rem;
    color: white;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav button {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(15, 15, 15);
    padding: 0.75rem;
    background-color: rgb(44, 43, 43);
    color: white;
}

nav button.active {
    border-top: 1px solid white;
}

.list-dropdown {
    width: 85%;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.floating-button:hover {
  transform: scale(1.1);
}