:root {
    --bg-color: #ffffff;
    --bg-color-secondary: #f0f0f0;
    --bg-color-tertiary: #e0e0e0;
    --text-color: #2f2f2f;
    --secondary-text: #474646;
    --secondary-color: rgba(0, 130, 139, 1);
    --secondary-color-opaque: rgba(0, 130, 139, 0.7);
    --secondary-color-transparent: rgba(0, 130, 139, 0.4);
    --scrollbar-track: #9b9a9a;
    --scrollbar-thumb: #f0f0f0;
}

[data-theme="dark"] {
    --bg-color: #2c2b2b;
    --bg-color-secondary: #272727ff;
    --bg-color-tertiary: #4a4a4a;
    --text-color: #ffffff;
    --secondary-text: #bbbbbb;
    --secondary-color: rgba(0, 130, 139, 1);
    --secondary-color-opaque: rgba(0, 130, 139, 0.7);
    --secondary-color-transparent: rgba(0, 130, 139, 0.4);
    --scrollbar-track: #555;
    --scrollbar-thumb: #333;
}

html, body, #root {
    height: 100%;
    margin: 0;
    scrollbar-color: var(--scrollbar-track) var(--scrollbar-thumb);
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
}

button {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    font-size: 1rem;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg-color-secondary);
    z-index: 10;
}

nav button {
    width: 100%;
    border: none;
    border-top: 1px solid var(--scrollbar-track);
    padding: 0.75rem;
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
}

nav button.active {
    border-top: 2px solid var(--secondary-color);
}

hr {
    margin: 15px 0;
}

.tab {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100vh - 45px);
}

.floating-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.floating-button:hover {
  transform: scale(1.1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: var(--bg-color);
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.input-field {
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    border: 1px solid var(--scrollbar-track);
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.85rem;
    width: 100%;
}

.close-button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.close-button:hover {
    color: #ff4d4d;
}

.dropdown-close {
    cursor: pointer;
}

.dropdown-close:hover {
    color: #ff4d4d;
}

.dropdown-button {
  width: 100%;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-tertiary);
  border: 1px solid var(--scrollbar-track);
  color: var(--text-color);
}

.dropdown-icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.dropdown-arrow {
  transition: transform 0.25s ease;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid var(--bg-color-tertiary);
  background-color: var(--bg-color);
  overflow: auto;
  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
  transition:
    max-height 0.3s ease,
    opacity 0.15s ease,
    transform 0.25s ease;
}

.dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
  max-height: 200px;
}

.dropdown-item {
  padding: 5px 7px;
  cursor: pointer;
}

.delete-button {
    background-color: #ff4d4d;
}

.add-button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 4px 10px;
    background-color: #36da5c;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.enabled-button {
    cursor: pointer;
}

.enabled-button:hover {
    background-color: #3cf166;
}

.disabled-button {
    opacity: 0.6;
}

.disabled-button:hover {
    cursor: not-allowed;
}

.floating-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--scrollbar-track);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 2000;
}

.floating-results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.floating-results li {
    padding: 8px 12px;
    cursor: pointer;
}

.floating-results li:hover {
    background-color: var(--bg-color-tertiary);
}

/* Alert Context Keyframes */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}

.accordion {
  width: 100%;
}

.accordion-button {
    color: var(--text-color);
    width: 100%;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: normal;
    transition: background-color 0.2s ease;
}

.accordion-button-flipped {
    justify-content: space-between;
}

.accordion-title {
    margin: 0;
}

.accordion-arrow {
  transition: transform 0.25s ease;
}

.accordion-arrow.rotate {
  transform: rotate(90deg);
}

.accordion-content-wrapper {
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.3s ease;
  opacity: 0;
}

.accordion-content-wrapper.open {
  opacity: 1;
}

.accordion-content {
  animation: fadeInMenu 0.3s ease;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion-list {
    margin: 0;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion-option {
    list-style-type: none;
}

.tab-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-color-secondary);
    padding: 15px;
    border-bottom: 1px solid var(--secondary-color);
}

.logo {
    fill: var(--text-color);
}

.secondary-button-color {
    background-color: var(--secondary-color-opaque);
    color: var(--text-color)
}

.secondary-text {
    color: var(--secondary-text);
}

.ingredient-card {
    background-color: var(--secondary-color-transparent);
}

.flex-grow {
    flex-grow: 1;
}

.settings-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.action-button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 4px 10px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.rgb-modal {
    width: fit-content;
    padding: 15px;
}