html, body, #root {
    height: 100%;
    margin: 0;
    scrollbar-color: #555 #333;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    background-color: rgb(44, 43, 43);
    color: white;
    font-size: 1rem;
}

button {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    font-size: 1rem;
    color: white;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    background-color: #272727ff;
    z-index: 10;
}

nav button {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(15, 15, 15);
    padding: 0.75rem;
    background-color: rgb(44, 43, 43);
    color: white;
}

nav button.active {
    border-top: 1px solid white;
}

.tab {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100vh - 45px);
}

.list-dropdown {
    width: 85%;
}

.floating-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(0, 130, 139);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.floating-button:hover {
  transform: scale(1.1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: rgb(44, 43, 43);
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
}

.modal-header {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.modal-footer {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
}

.input-field {
    background-color: #3A3A3A;
    color: white;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.85rem;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.close-button:hover {
    color: #ff4d4d;
}

.add-button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 4px 10px;
    background-color: #28a745;
    border: none;
    cursor: pointer;
}

.enabled-button {
    cursor: pointer;
}

.enabled-button:hover {
    background-color: #36da5c;
}

.disabled-button {
    opacity: 0.6;
    cursor: not-allowed;
}

.floating-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3A3A3A;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 2000;
}

.floating-results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.floating-results li {
    padding: 8px 12px;
    cursor: pointer;
}

.floating-results li:hover {
    background-color: #505050;
}

/* Alert Context Keyframes */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}